{% extends "soko/base.html" %}

{% block title %}Will Van Wazer | What is a developer-journalist, anyway?{% endblock %}

{%block content %}	
	{% for TumbleItem in tumble_item_list %}
		{{ TumbleItem.get_rendered_html }}
	{% endfor %}

    {% if not empty %}
        <br>
        <div id="nav-below" class="navigation">
            <div class="nav-previous">
                <a href="/page/2"><-- Older posts</a>
            </div>
            <div class="nav-next">
            </div>
        </div>
    {% endif %}
{% endblock %}