<!DOCTYPE html>
<html lang="en">	
	
	<head>		
		
		<meta charset="utf-8">
		<title>MDST Midterm | Will Van Wazer</title>
		
		

		<link rel="stylesheet" href="/static/style.css" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>

	</head>
	
	<body>	
		
		<div id="wrap">	
			
			<div id="sidebar">
				
				<h1>The making of a public digital library</h1>
				<h2>By Will Van Wazer</h2>

				<p><a href="#intro">Introduction</a></p>
				<p><a href="#past">Past</a></p>

				<ul> 
				<li><a href="#loc">Library of Congress</a></li>
				<li><a href="#guten">Project Gutenburg</a></li>
				</ul>

				<p><a href="#present">Present</a></p>

				<ul>
				<li><a href="#gbooks">Google Books</a></li>
				<li><a href="#htrust">Hathi Trust</a></li>
				</ul>

				<p><a href="#future">Future</a></p>
				<p><a href="#conclusion">Conclusion</a></p>
				<p><a href="#cited">Works Cited</a></p>


				<div id="footer">							
					<p>Copyright &copy; 2011 / Will Van Wazer</p>						
				</div><!--end footer-->	
			
			</div><!--end sidebar-->
							
			<div id="content">	

				<a id="intro"><h2>Introduction</h2></a>

				<p>A "public digital library" has been the dream of many as long as the internet has existed. The internet, removing the tyranny of distance in a way not seen since the transportation revolution, could foster an intellectual community, and allow everyone in the world to access all of the information every created.</p>

				<p>Except, that's never happened. Wether it be legal questions, or practical questions, or anything else, a "true" public digital library has yet to be established successfully. To examine why that is, and to examine the possible ways in which one could work, we first must look at two historical projects of creating libraries, then turn to more modern projects, and finally talk about the requirements that such a project would and should have to face before being implemented.</p>

				<a id="past"><h2>Past</h2></a>

				<a id="loc"><h3>Library of Congress</h3></a>

				<p>While this wouldn't fall under the category of a public <em>digital</em> library, per se, it is still important to consider the Library of Congress. After all, it is the largest library in the world and might as well be considered the national library of the united states.</p>

				<h4>Private Origins</h4>

				<p>It is particularly relevant to be discussing the library of Congress here at the University of Virginia--after all, the library wouldn't really have existed without the founder of the University, Thomas Jefferson. After the libraries original materials (which was established by a law signed by Jefferson) was destroyed in the War of 1812, Jefferson offered his personal collection of 6,487 books to the library to restart its collection.</p>

				<p>While this story might just seem like another way that Thomas Jefferson is awesome, it also underscores something that would need to be present in a public digital library--strong private support, and a willingness of private individuals to bear some of the costs that such a library would incur. </p>

				<h4>Access Restrictions</h4>

				<p>The library also underscores the importance, or prevalence of, access restrictions on national public libraries of the scope that a public digital library would have to be. To view a book in the Library of Congress, one must first register for a Reader Identification Card, present some form of photo identification, and be over the age of 16. That only allows a person to access materials while in the library--the right to check out materials is reserved for members of Congress, Supreme Court Justices and their staff, Library of Congress staff, and select other government officials.</p>
				
				<img src="http://lh6.ggpht.com/_rHKKEVEsJpk/S_qejs4NTeI/AAAAAAAAMRw/Hb8beE2Da7U/2010-05-21%2011.09.12.jpg" width=500 alt="An example Library of Congress reader card.">
				An example Library of Congress reader card.
				<br>
				<br>
				<p>This is important to consider when discussing a public digital library because the access restrictions do not negate the positive cultural influence the library has--it still is better to have around then not. Occasionally, access restrictions are necessary and proper for something to exist feasibly.</p>

				<a id="guten"><h3>Project Gutenburg</h3></a>

				<p>Founded in 1971 by Michael Hart, Project Gutenberg is the world's oldest digital library. Hart got the idea for this library when he received a free copy of the Declaration of Independence from a retailer--he decided to manually type it up and stick it on a precursor of the internet. From those humble beginnings, Project Gutenberg has evolved into the home for more than 36,000 ebooks, mostly in the public domain. It offers several important lessons when considering a public digital library.</p>

				<h4>Choice of Formats</h4>

				<p>While it's not the entire reason the concept was successful, one of the main reasons that Project Gutenberg is currently successfully is because of it's choice of base format, allowing users to easily download versions of the texts for their reading device of choice, or as a simple plain text file.</p>

				<p>Any public digital library effort will need to choose it's base format very carefully, to ensure future-proof conversion to whatever ebook format becomes popular in the day.</p>

				<h4>Scope of the project</h4>

				<p>Another important consideration to keep in mind when considering Project Gutenberg is it's limited scope--despite being 40 years old, it only has 36,000 books, a fraction of what collections started in the last five years have. The reason is an intentional one--Project Gutenberg restricts itself to titles which it has the right to freely distribute, either meaning the works are already in the public domain or the owner has allowed Project Gutenberg to redistribute them. This means the latest Dan Brown novel won't probably be on Project Gutenberg for another 100 or so years--a different kind of library purpose indeed.</p>

				<p>Project Gutenberg has chosen this scope because it allows them to completely freely distribute whatever books they have digitized--no access requirements, no limits on concurrent users, no nothing. When evaluating a public digital library, it is important to see how limiting a policy like that can be on collection size.</p>

				<a id="present"><h2>Present</h2></a>

				<a id="gbooks"><h3>Google Books</h3></a>

				<p>Google Books is a digitization, character recognition, and search project started in 2004 that had a simple, if not outlandish object--scan every printed book in history. Google identified that there are 130 million unique books in the world, and it wants to scan all of them by the end of 2020--it currently has scanned about 15 million. Representing one of the largest collections of scanned books to date, it's successes and failures are vital to understanding the challenges of creating a public digital library.</p>

				<h4>How it works</h4>

				<p>Google Books gives users two methods of accessing a book. First, a user can search for a word or phrase, and see all the locations in a book or multiple books where this occurs. Second, a user can search for the book itself, and browse through the content that's been made available through the service. Though it depends on the age of the book, usually this information includes the table of contents and a chapter or two of a recent book, and the entirety of an out of print or public domain book.</p>
				
				<img src="http://www.mt-soft.com.ar/wordpress/wp-content/plugins/wp-o-matic/cache/bb746_google-books-jun09.png" width=500>
				<em>An example of a Google Books with a public domain work.
				<br><br><br>
				<img src="http://www.futureofthebook.org/blog/archives/google%20snippets.jpg" width=500>
				An example of Google Books "snippets" of a non-public domain work.</em>

				<h4>Legal Ramifications</h4>

				<p>Almost immediately, Google efforts to digitize books was controversial and criticized by many. The most serious of the legal challenges, however, came from the Author's Guild and the Association of American Publishers. Those groups sued Google, specifically citing Google's efforts to provide a "snippet" view of the books in it's database, and allowing the full text to be searchable. Google countered, claiming that the snippets in question represented fair use, and all it was creating was the digital equivalent of a card catalog. The Author's guild also brought up issues surrounding works that no clear copyright owner could be established--Google defaulted to allowing the entirety of those works to be viewable. Google and the Author's Guild reached a settlement in October of 2008 that attempted to create things like Book Rights Registry and established guidelines for unowned books and snippets, but in 2011 the deal was thrown out by the judge.</p>

				<p>No matter the specific details of the case, however, the Google Books project contains several useful bits of information for the creation of a public digital library. First, there is no doubt that whatever access restrictions or content availability restrictions such a project could settle on, it will be challenged by things like the author's guild. It also emphasizes the importance of properly dealing with edge cases, like books with missing, incomplete, or inaccurate copyright information.</p>
				
				<p>See Google's statement about the proposed settlement below:</p>
				
				<iframe width="450" height="259" src="http://www.youtube.com/embed/J16juV1acCI" frameborder="0" allowfullscreen></iframe>

				<a id="htrust"><h3>Hathi Trust</h3></a>

				<p>Hathi Trust is a University of California project that attempted to piggyback of things like the Google Books project and other digitization efforts in an to provide education users with a means of accessing this wealth of information. </p>
				
				<a href="http://www.library.illinois.edu/blog/music/hathitrust1.png"><img src="http://www.library.illinois.edu/blog/music/hathitrust1.png" width=500></a>
				Different ways of searching the Haithi Trust collection--notice a slight difference between this and Google Books. Courtesy of University of Illinois.

				<h4>Legal Issues</h4>

				<p>Like Google Books, Hathi Trust had it's own series of legal issues and lawsuits. Specifically, the Author's Guild is taking issue over the Hathi Trust's handling of what it calls "orphaned" books, or those whose rights-owners cannot be found. The Trust proposed a listing of "orphaned works candidates" that would appear on the Trust's website, allowing people to submit claims for the copyright of the works before they became fully open. The Author's Guild, in doing research on the first books that were listed among these candidates, found multiple living authors, several well known literary estates and other significant issues with the works that were being identified as orphaned candidates. As a response to this, the Hathi Trust took down it's orphaned candidates system, but still plans to introduce some methodology to help with the identification of these works.</p>

				<p>Further complicating these issues is something called the "sovereign immunity" clause of the 11th amendment, which grants immunity to public institutions from being sued for copyright infringement. Because the main participants in the Hathi Trust--University of Michigan, and the University of California system--are public schools, they are protected under this cause.</p>

				<p>Again, this reiterates the importance that a public digital library should place on copyright, and it's understanding of the legal ramifications involved with all of its actions.</p>

				<a id="future"><h2>Future</h2></a>

				<p>With the lessons of these past attempts at public libraries in mind, it is now time to turn to what such a project, were it to be attempted now, should look like.</p>

				<h4>Access and Content Restrictions</h4>

				<p>Given the legal challenges facing the Hathi Trust and the Google Books project, it is clear some kind of access restriction or content restriction needs to be put in place, unless public universities want to blatantly flaunt copyright law. Paying a price to establish a physical library is not uncommon--after all, libraries are supported by tax dollars to fund their establishment and maintenance. While certainly a library of only items in the public domain would be valuable, it is nowhere near as admirable and rewarding a goal as one that includes all the works in it. </p>

				<p>The only way to avoid such legal challenges in the future would be to cut some kind of deal with the Author's Guild and the Publishers' association, and the only way they would accept such a deal is if it involved some kind of monetary reward. While it theoretically could be funded simply through grants, given the eventual size of such a library, and the constant cost of maintenance, it is impractical to suggest that it could exist without some kind of revenue source. With that in mind, there are three payment models that could be implemented in such a system.</p>
				<ol>
					<li>JSTOR-like organizational subscriptions</li>
					<li>Per-use charges</li>
					<li>Monthly/yearly fee</li>
				</ol>

				<p>All of these approaches have some benefits and some drawbacks. The first approach (JSTOR-like model) is really great for universities, but it is terrible for individuals. What are individuals who aren't part of a larger organization to do? The pricing of large subscriptions is often cost prohibitive. The second approach, per-use charges, treats individuals affiliated with a university and those not affiliated equally, but always seems to lower usage over time--for example, there's a reason everyone switched from Blockbuster to Netflix. The third approach, a monthly/yearly fee payable by anyone, is most analogous to how we support physical libraries now--taxes. It would probably be the best approach for a public digital library going forward. </p>

				<h4>Technical Details</h4>

				<p>Another important thing to consider is how the project should be implemented technically. Ideally, the end result would be the most similar to Project Gutenberg's current offering as possible--available in a variety of different formats, both open- and closed- source, and drawing from a base format that's able to convert to these successfully.</p>

				<p>While other encoding technologies, like XML-based TEI might have certain attractions it is also be important for a digital public library to choose the most future-proof technology as possible. Standards that are constantly changing and constantly under debate are essentially useless drivel for this kind of project, and would most likely end up with wasted time, effort and money if it were attempted to be implemented on a larger scale.</p>

				<h4>Private Involvement</h4>

				<p>While it may seem contradictory for a <em>public</em> digital library to have some kind of private, as we saw with two of the most successful library attempts--the Library of Congress and Google Books--private involvement is often necessary to help meet some of the demand for resources indexing and storing this vast quantity of books might entail. </p>

				<a id="conclusion"><h2>Conclusion</h2></a>
				
				<p>As we have seen both looking at the past and the present, there have been many efforts made to create a public digital library. None of them have been entirely successfully as either the project intended to be, or have lived up to the mantle of a "public digital library" and all the things implied and assumed in that statement. However, they have provided a roadmap for exactly how a public digital library could and would work. Through a combination of open source software, monthly fees, and an understanding of legal ramifications, a public digtial library long dreamed about could become a reality.
				
				<a id="cited"><h2>Works Cited</h2></a>
				
				
				<p style="margin-left: 2em; text-indent: -2em;">"About the HaithiTrust." HathiTrust. Web. 16 Oct. 2011. <http://www.hathitrust.org/about>.</p>
				
				<p style="margin-left: 2em; text-indent: -2em;">"Authors Groups From U.K., Canada, Norway and Sweden Join Authors Guild, Australian Society of Authors, and Quebec Writers Union in Suit Against HathiTrust." Author's Guild, 6 Oct. 2011. Web. 16 Oct. 2011. <http://www.authorsguild.org/advocacy/articles/authors-groups-from.html>.</p>
				
				<p style="margin-left: 2em; text-indent: -2em;">Google, Inc. Google Book Settlement Details. Google. Web. 16 Oct. 2011. <http://www.googlebooksettlement.com/>.</p>
				
				<p style="margin-left: 2em; text-indent: -2em;">Hart, Michael. "Project Gutenberg Mission Statement." Project Gutenburg. Web. 16 Oct. 2011. <http://www.gutenberg.org/wiki/Gutenberg:Project_Gutenberg_Mission_Statement_by_Michael_Hart>.</p>
				
				<p style="margin-left: 2em; text-indent: -2em;">"HathiTrust Community." HathiTrust. Web. 16 Oct. 2011. <http://www.hathitrust.org/community>.</p>
				
				<p style="margin-left: 2em; text-indent: -2em;">Jackson, Joab. "Google: 129 Million Different Books Have Been Published | PCWorld." PC World. Web. 16 Oct. 2011. <http://www.pcworld.com/article/202803/google_129_million_different_books_have_been_published.html>.</p>
				
				<p style="margin-left: 2em; text-indent: -2em;">"Jefferson's Legacy: A Brief History of the Library of Congress." LOC. Library of Congress. Web. 16 Oct. 2011. <http://www.loc.gov/loc/legacy/loc.html>.</p>
				
				<p style="margin-left: 2em; text-indent: -2em;">"Reader Registration and Access to Library Reading Rooms (For Researchers, Library of Congress)." Library of Congress Home. Library of Congress. Web. 16 Oct. 2011. <http://www.loc.gov/rr/readerregistration.html>.</p>
				
				<p style="margin-left: 2em; text-indent: -2em;">Tungare, Manas. "Share and Enjoy." Inside Google Books. Google, Inc. Web. 16 Oct. 2011. <http://booksearch.blogspot.com/2007/08/share-and-enjoy.html>.</p>
				
			</div><!--end content-->
		</div><!--end wrap-->		
				
	</body>	
	
</html>